.app-wrapper{
  display: grid;
  width: 1200;
  margin: 0 auto;

  grid-template-areas: 
  "h h"
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr ;
  /* grid-gap: 10px; */
}
.header{
  grid-area: h;
  background-color: #4B6871;
}
.header img{
  width: 80px;
}
.content{
  grid-area: c;
  background-color: #483824;

}

.nav{
  grid-area: n;
  background-color: #A2988C;
}